html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: linear-gradient(123deg, #719974 0%, #80a883 100%);
    height: calc(100% - 10px);
}

/* Flex utilities */
.flex {
    display: flex;
}

.flex-fill {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Wrapper */
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 4px;
}

/* Typography */
#title,
#clock {
    color: #ffffff8a;
    text-transform: uppercase;
}

/* Content background */
.content-background {
    background-color: #fffffff5;
    color: #553774;
}

/* Roosterwijzigingen */
#content-container {
    flex-grow: 1;
    min-height: 0;
}

#absences-container {
    display: none;
}

.year-content-container {
    --years-of-education: 6;
    --timeslots: 4;
}

.schedule-flex {
    display: flex;
    flex: 1;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: .3em;
}

.year-row,
.schedule-content-container {
    column-gap: .3em;
    row-gap: .3em;
}

.year-row,
.schedule-content-container,
.year-header,
.padding-standard {
    padding: 4px;
    border-radius: 7px;
}

.timeslot-header {
    text-align: center;
    padding: 0;
    color: #4e7453;
}

.year-row.header {
    max-height: 25px;
    flex-shrink: 0;
}

.year-header {
    max-width: 15px;
    color: #4e7453;
}

.schedule-content-container {
    display: grid;
    grid-auto-flow: row dense;
    width: 100%;
    grid-template-columns: repeat(var(--timeslots, 1), 1fr);
    align-content: start;
}

.schedule-content {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: #ffffff;
    margin-right: -50px;
    padding-right: 50px;
}

.year-row::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

.year-row:not(.header) {
    min-height: 50px;
}

.year-row {
    overflow-y: auto;
    background-color: #ffffff61;
    flex-basis: auto;
}

.year-content-subcontainer {
    margin-right: -50px;
    display: grid;
    grid-auto-flow: row dense;
    grid-column: 1 / calc(var(--timeslots) + 1);
    grid-template-columns: subgrid;
    grid-template-rows: inherit;
}

/* Appointments */
.appointment {
    padding: 5px 10px;
    border-radius: 14px;
    grid-column-start: var(--start-hour);
    grid-column-end: calc(var(--end-hour) + 1);
    background-color: #553675;
}

.activity {
    background-color: #ffffff;
    color: #553873;
}

.appointment.new {
    background-color: #fdec0d;
    color: #553774;
}

.lesson.invalid {
    background-color: #9f91ab;
	color: inherit;
}

/* Afwezigen */
.absence:not(:last-child)::after {
    content: " - ";
}

.absence:first-child {
    margin-left: 5px;
}

#absences-container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 3px;
}

/* Externe activiteiten */
#outofoffice-inner-container {
    margin-left: 5px;
}

.outofoffice > div {
    display: inline-block;
    margin-left: 5px;
}

.outofoffice:not(:last-child)::after {
    content: " || ";
}

.outofoffice > div:not(:last-child)::after {
    content: " /";
}

#outofoffice-container > * {
    display: inline-block;
}
